@model Turniej.Models.Trenerzy

@{
    ViewData["Title"] = "Szczegóły";
}
<script src="~/javascript.js"></script>
<h1>Szczegóły</h1>

<div>
    <h4>Trenerzy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImieT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImieT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwiskoT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwiskoT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IleMedaliT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IleMedaliT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTrenera">Edytuj</a> |
    <a asp-action="Index">Wróć</a>
</div>

<img class="sportimg" alt="Sport" src="~/sport.png" />
