@model IEnumerable<Turniej.Models.Trenerzy>

@{
    ViewData["Title"] = "Trenerzy";
}

<h1>Lista trenerów</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImieT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazwiskoT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IleMedaliT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImieT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazwiskoT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IleMedaliT)
            </td>
            <td>
                <a asp-action="Create"> <i class="fa-solid fa-square-plus"></i> </a> |
                <a asp-action="Edit" asp-route-id="@item.IdTrenera"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdTrenera"><i class="fa-solid fa-circle-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdTrenera"><i class="fa-solid fa-ban"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
