@model IEnumerable<Turniej.Models.Trenerzy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"> <i class="fa-solid fa-square-plus"></i> New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImieT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazwiskoT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IleMedaliT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImieT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazwiskoT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IleMedaliT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTrenera">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTrenera">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTrenera">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
