@model IEnumerable<Turniej.Models.Uczestnictwo>

@{
    ViewData["Title"] = "Uczestnictwo";
}
<script src="~/script.js"></script>
<h1>Uczestnictwo</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdZawodnikaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdZawodowNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdZawodnikaNavigation.IdZawodnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdZawodowNavigation.IdZawodow)
            </td>
            <td>
                <a asp-action="Create"> <i class="fa-solid fa-square-plus"></i> </a> |
                <a asp-action="Edit" asp-route-id="@item.IdUczestnictwa"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdUczestnictwa"><i class="fa-solid fa-circle-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdUczestnictwa"><i class="fa-solid fa-ban"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<img class="sportimg" alt="Sport" src="~/sport.png" />
