@model IEnumerable<Turniej.Models.Uczestnictwo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdZawodnikaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdZawodowNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdZawodnikaNavigation.IdZawodnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdZawodowNavigation.IdZawodow)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUczestnictwa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUczestnictwa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUczestnictwa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
