@model Turniej.Models.Zawodnicy

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Zawodnicy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kraj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kraj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IleMedaliT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IleMedaliT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTreneraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTreneraNavigation.IdTrenera)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdZawodnika">Edytuj</a> |
    <a asp-action="Index">Wróć</a>
</div>
<img class="sportimg" alt="Sport" src="~/sport.png" />