@model IEnumerable<Turniej.Models.Zawodnicy>

@{
    ViewData["Title"] = "Zawodnicy";
}

<h1>Zawodnicy</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdZawodnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kraj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IleMedaliT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTreneraNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.IdZawodnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kraj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IleMedaliT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTreneraNavigation.IdTrenera)
            </td>
            <td>
                <a asp-action="Create"> <i class="fa-solid fa-square-plus"></i> </a> |
                <a asp-action="Edit" asp-route-id="@item.IdZawodnika"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdZawodnika"><i class="fa-solid fa-circle-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdZawodnika"><i class="fa-solid fa-ban"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<img class="sportimg" alt="Sport" src="~/sport.png" />