@model IEnumerable<Turniej.Models.Zawody>

@{
    ViewData["Title"] = "Zawody";
}
<script src="~/script.js"></script>
<h1>Zawody</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdZawodow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lokalizacja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdZawodow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokalizacja)
            </td>
            <td>
                 <a asp-action="Create"> <i class="fa-solid fa-square-plus"></i> </a> |
                <a asp-action="Edit" asp-route-id="@item.IdZawodow"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdZawodow"><i class="fa-solid fa-circle-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdZawodow"><i class="fa-solid fa-ban"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<img class="sportimg" alt="Sport" src="~/sport.png" />